@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
}


.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #6a82fb, #fc5c7d);  
    
}
.game-info{
    margin-top: 1.5rem;
    color:white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid  rgba(255, 255, 255, 0.15);
    padding: 1vw 3.5vw;
    user-select:none;
}

.tic-tac-toe{
    margin-top: 2rem;
    display: grid;
    grid-template-columns:repeat(3,6rem);
    grid-template-rows:repeat(3,6rem);
    place-content: center;
    user-select: none;
    margin-bottom: 2rem;

}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;;
    font-size:4rem; /* sccren ke according font size change honga*/
    cursor: pointer;
    background-image: linear-gradient(to right, #9e3c3c, #652712);  
    overflow: hidden;
}

.box:hover{
    background-image: linear-gradient(to right, #9aefbc, #ecc872, #f7797d);
    transform: scale(1.1); 
    transition:0.8s;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;

}

.bt{
    border-top: 0;
}

.bb{
   border-bottom: 0;
}

.br{
    border-right: 0;
}

.bl{
    border-left: 0;
}

.btn{
    display: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color:white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid  rgba(255, 255, 255, 0.15);
    padding: 1vw 3.5vw;
    user-select: none;
    
}

.btn:hover{
    transform: scale(1.1);
}


.win{
    background-image: linear-gradient(to right, #d6f700, #1215de);
    
}

.btn.active{
    display: flex;
}